body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Inria Sans', sans-serif;
    
}



.logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

 
nav {
    background-color: crimson;
    text-align: center;
    padding: 20px 0;
    border: 3px;
    
   
    
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.home_loja{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    color: white;

}
#contato_vinicula{
    background-color: crimson;
    width:40%;
    padding: 3vh;
    text-align: center;
    border-radius: 2vh;


}


#contato_membros{
	margin-left: 3vw;
    margin-top: 38vh;
    background-color: crimson;
    color: aliceblue;
    padding: 20px;
    width: 20%;
    border-radius: 3vh;
}