body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Inria Sans', sans-serif;
    
}



.logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

 
nav {
    background-color: crimson;
    text-align: center;
    padding: 20px 0;
    border: 3px;
    
   
    
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.home_endereco{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    color: white;

}
.localizacao{
    background-color: crimson;
    width:30%;
    text-align: center;
    border-radius: 2vh;
}

.endereco{
    margin-left: 3vw;
    margin-top: 3vh;
}