body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Inria Sans', sans-serif;
   
}

.navegaçao {
    display: flex;
    justify-content: space-between;
    margin: 0px ;
    padding: 0px;
}

.home {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: white;
}

.logo{
    width: 170px;
    height: 170px;
    padding: 0px;

}

.corpo{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;


}

.texto{
    background-color: darkgray;
    margin: 10px;
    padding: 10px;
    max-width: 300px 180px;
    display: inline-block;
    justify-content: center;
    border-radius: 3vh;
    color: white;

}

nav {
    background-color: crimson;
    text-align: center;
    padding: 20px 0;
    border: 2px;
}



.home_loja{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    color: white;
}
.imagem_quem1{
    background-color: darkgrey;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    max-width: 300px 180px;
    display: inline-block;
    justify-content: center;
    border-radius: 3vh;
}