body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Inria Sans', sans-serif;
}

.container {
    padding: 20px;
    text-align: center;
}

nav {
    background-color: crimson;
    text-align: center;
    padding: 20px 0;
    border: 2px;
}

.texto {
    background-color: darkgray;
    margin: 10px;
    padding: 10px;
    border-radius: 3vh;
    color: white;
}

.imagem_quem1 {
    background-color: crimson;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 3vh; 
    height: 15em;
    width: 10em;
}

@media (min-width:1020px) { 
    .imagem_quem1 {
        background-color: crimson;
        color: aliceblue;
        margin: 10px;
        padding: 10px;
        border-radius: 3vh; 
        height: 20em;
        width: 15em;
    }
}